body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dodgerblue;
    font-family: monospace, sans-serif;
}

select {
    width: 60px;
}

label {
    margin-bottom: 20px;
}

button {
    font-family: monospace, sans-serif;
    background-color: lightgrey;
    border: none;
    border-radius: 10px;
    height: 30px;
}

button:hover {
    background-color: darkgray;
    color: white;
    transition: 50ms ease-in-out;
}

input[type=checkbox]:checked {
    accent-color: lightgrey;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #888888;
}

.criteria-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    margin: 10px 0 20px 0;
}

.generated-password-container {
    display: flex;
    align-items: center;
    height: 40px;
}

#generated-password-field {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background-color: lightgrey;
    height: 100%;
    text-align: center;
    margin-left: 15px;
    border-radius: 10px;
}

#generate-password-button {
    width: 150px;
}

#clear-button {
    width: 70px;
}

#copy-button {
    width: 70px;
}